.segmentedContainer {
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  background-color: #e6e6e6;
  border-radius: 8px;
  :global {
    .ant-segmented-item-selected {
      border-radius: 8px;
    }
    .ant-segmented-thumb {
      border-radius: 8px;
    }
  }
}
