.loading {
  margin-top: 6%;
  text-align: center;
}
.cardContainer {
  max-width: 1100px;
  margin: auto;
}
.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cardHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardHeaderBackIcon {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #14489f;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.cardTitleText {
  flex-grow: 1;
  margin-bottom: 0 !important;
  color: #14489f !important;
  font-weight: bold !important;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 18px !important;
  }
}
.avatarColLeft {
  text-align: center;
}
.titleColLeft {
  margin-top: 10px;
  margin-bottom: 4px;
}
.titleColRight {
  width: inherit;
  color: #555;
  text-align: center;
  background-color: #f0f2f5;
  border-radius: 6px;
}
.divider {
  margin: 0 0 15px 0;
}
.showMoreBtn {
  color: #000;
  background-color: #ffc000;
  border-color: #ffc000;
  box-shadow: none;
  &:hover,
  &:focus {
    color: #000;
    background-color: #ffc000;
    border-color: #ffc000;
  }
}
.tableHeader {
  :global {
    .ant-table-thead > tr > th {
      color: rgba(0, 0, 0, 1);
      background-color: #c2dbff;
    }
    .ant-table-tbody > tr:not(.ant-table-placeholder):hover > td {
      background: #e7f0f8;
    }
  }
}
.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 32px;
}
.buttonGroup button {
  flex: 1 1 100%;
  min-width: 100px;
  max-width: 100%;
  font-weight: bold;
  font-size: clamp(14px, 2vw, 14px);
  white-space: nowrap;
}
@media (min-width: 768px) {
  .buttonGroup button {
    flex: 1 1 5%;
    max-width: 5%;
  }
}
.editButton,
.editButton:hover,
.editButton:focus {
  color: white;
  font-weight: bold;
  background-color: #faad14;
  border-color: #faad14;
}
.stepCard {
  padding: 16px;
  overflow-x: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @media (max-width: 575px) {
    padding-bottom: 0;
  }
}
.cardStyle {
  margin-top: 14px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cardTitle1 {
  font-weight: 600;
  font-size: 16px;
}
.cardTitle2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}
.enrollmentCode {
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}
.enrollmentCode:hover {
  text-decoration: underline;
}
.alertCardContent {
  display: flex;
  flex-direction: column;
}
.statusHS {
  position: relative;
  top: 1px;
  margin-right: 6px;
}
.infoIcon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  color: #1890ff;
}
.enrollmentCodeHeader {
  margin-left: 12px;
  font-weight: bold;
  font-size: 20px;
}
.statusText {
  padding: 4px 4px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
